*,
*:before,
*:after
{
padding: 0%;
margin: 0%;
box-sizing: border-box;
font-size: 18px;
}
body
{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(59, 102, 182);
}
.rapper
{
    width: 400px;
    background-color: cornsilk;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: rgba(0, 0,0, 1);
    border-radius: 8px;
    display: grid;
    justify-content:space-evenly;
}
.contain
{
width: 45%;
margin-bottom: 30px;
}
input
{
    width: 100;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: tan;
    margin-top: 8px;
    padding: 0 9px;
}
input:focus
{
    border-color: blue;
}